.logo-container{
    border-right: 1px solid #EF7D0026;
}
.login-input input, .login-input select{
    border: none;
    border: 0.5px solid #EF7D00
}
.login-input select:not([size]){
    /* background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='%23EF7D00' viewBox='0 0 17.44 9.4'%3e%3cpath d='M0 0h17.44L8.72 9.4z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 17.44px 9.4px;
  }