@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.b-gray-input{
  border: 0.8px solid #40404080;
  border-radius: 10px;
  height: 45px;
}
.icon-color{
  color: #40404080;
}
.h-input{
  height: 45px;
}
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select, radial {
  /* border-color: #40404080; */
  border: 0.8px solid #40404080;
  height: 45px;
  border-radius: 10px;
  background-color: white;
  font-size: 13px;
}
.dark [type=checkbox]:checked, .dark [type=radio]:checked, [type=checkbox]:checked, [type=radio]:checked {
  border: 0.8px solid #EF7D00;
  width: 25px;
  height: 25px;
  background-color: white;

}
[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23EF7D00' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  background-size: 35px 35px;
}
.dark [type=checkbox], .dark [type=radio], [type=checkbox], [type=radio] {
  /* border: 0.8px solid #EF7D00; */
  width: 25px;
  height: 25px;

}

select:not([size]) {

  padding-left: 3rem;
  font-size: 13px;

}
select:focus, [type='text']:focus, [type='password']:focus {
  outline: none; 
  box-shadow: 0 0 0 1.7px #EF7D00; 
  border: none;
}

select option[data-skip] {
  background-color: #c7cad1;
  color: #FFFF;
}
select option:not([data-skip]) {
  color: #404040;

}
.chevron-input {
  position: relative;
}

.chevron-input::after {
  content: "";
  position: absolute;
  right: 0.6rem; 
  top: 22.5px;
  transform: translateY(-50%);
  width: 17.44px;
  height: 9.4px;
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='%23404040' viewBox='0 0 17.44 9.4'%3e%3cpath d='M0 0h17.44L8.72 9.4z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
}

select:not([size]){
  /* background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='%23404040' viewBox='0 0 17.44 9.4'%3e%3cpath d='M0 0h17.44L8.72 9.4z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 17.44px 9.4px;
}

.select-icon-position {
  top: 12px;
  left: 0.75rem;
}
.text-orange{
  color: #EF7D00; 
}
.bg-orange-custom{
  background-color: #EF7D00; 
  border: 1px solid #EF7D00;
  transition: background-color 0.5s,  border-color 0.5s;
}
.bg-orange-custom:hover {
  background-color: #ffffff; 
  border: 1px solid #EF7D00;
  color: #EF7D00;
}
.bg-orange-custom-outline{
  background-color: #ffffff; 
  border: 1px solid #EF7D00;
  color: #EF7D00;
  transition: background-color 0.5s,  border-color 0.5s;
}
.bg-orange-custom-outline:hover {
  background-color: #EF7D00; 
  border: 1px solid #EF7D00;
  color: #ffffff;
}
.text-gray-light-custom{
  color: #40404080;

}
.text-gray-custom{
  color: #404040;
}
.text-gray-dark-custom{
  color: #646363
}
.font-13{
  font-size: 13px;
}

input::placeholder {
  font-size: 13px;
  color: #40404080;

}
/* select option {
  color: #000;
  padding-left: 0px;
} */
.text-alert{
  color: #0054B7;

}
.bg-alert{
  background-color: #DCEBFF;
}
.border-radius-10{
  border-radius: 10px;
}
.text-black-custom{
  color: #404040;

}
.selected-option {
  color: #40404080;
}
.default-option {
  color: #404040;
}
select option:hover {
  background-color: #17274e;
  
}
.search-input input{
  border: none;
  background-color: #4040401A;
  border-radius: 20px;
  padding-left: 50px;
  height: 50px;
  width: 604px;

}
.h-screen-custom{
  height: calc(100vh - 53px);
}

button:disabled {
  cursor: default; 
  opacity: 0.5; 
  pointer-events: none; 
}
