@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.b-gray-input{
  border: 0.8px solid #40404080;
  border-radius: 10px;
  height: 45px;
}
.icon-color{
  color: #40404080;
}
.h-input{
  height: 45px;
}
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select, radial {
  border-color: #40404080;
  height: 45px;
  border-radius: 10px;
  background-color: white;
}
.dark [type=checkbox]:checked, .dark [type=radio]:checked, [type=checkbox]:checked, [type=radio]:checked {
  border: 0.8px solid #EF7D00;
  width: 25px;
  height: 25px;
  background-color: white;

}
[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23EF7D00' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  background-size: 30px 30px;
}
.dark [type=checkbox], .dark [type=radio], [type=checkbox], [type=radio] {
  /* border: 0.8px solid #EF7D00; */
  width: 25px;
  height: 25px;

}

select:not([size]) {

  padding-left: 3rem;

}

.select-icon-position {
  top: 30%;
  left: 0.75rem;
}
.text-orange{
  color: #EF7D00; 
}
