.password-input-loggin [type='password']{
    border: none;
    border: 0.5px solid #EF7D00;
    padding-left: 4rem;
}
.password-input-form [type='password']{
    border: none;
    border: 0.5px solid #40404080
}
select:focus, [type='text']:focus, [type='password']:focus {
    outline: none; 
    box-shadow: 0 0 0 1.7px #EF7D00; 
    border: none;

  }